dateparser
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
nbconvert
nbformat
notebook
numpy
ohio
pandas
psycopg2-binary
python-dateutil
pytz
PyYAML
scikit-learn
scipy
seaborn
sklearn
SQLAlchemy
sqlalchemy-postgres-copy
statsmodels
